<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<body style="background-color: #e3e9f7">
    <div class="text-center">
        <h1 class="display-4">Editar Tarefa</h1>

        <a href="#" class="btn btn-success link-voltar-tarefas">Voltar</a>
    </div>
</body>