@{
    ViewData["Title"] = "Listagem de Tarefas";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

<body style="background-color: #e3e9f7">
    <h1 class="display-4">Listagem de Tarefas</h1>

    <br />
    <br />

    <!-- Certifique-se de que a classe está correta -->
    <button class="btn btn-outline-primary link-adicionar-tarefas">Adicionar</button>
    <br />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Tarefa</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mark</td>
                <td>Otto@gmail.com</td>
                <td>Organizar quartos</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Default button group">
                        <button type="button" class="btn btn-outline-secondary link-editar-tarefas">Editar</button>
                        <button type="button" class="btn btn-outline-danger link-apagar-tarefas">Apagar</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Mark</td>
                <td>Otto@gmail.com</td>
                <td>Organizar quartos</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Default button group">
                        <button type="button" class="btn btn-outline-secondary link-editar-tarefas">Editar</button>
                        <button type="button" class="btn btn-outline-danger link-apagar-tarefas">Apagar</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Mark</td>
                <td>Otto@gmail.com</td>
                <td>Organizar quartos</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Default button group">
                        <button type="button" class="btn btn-outline-secondary link-editar-tarefas">Editar</button>
                        <button type="button" class="btn btn-outline-danger link-apagar-tarefas">Apagar</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
